/*ESTILIZAÇÃO DO MENU LATERAL*/
.MenuLATERAL {
  background-color: #5C7243;
  width: 80%;
  height: 100%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MenuLATERAL .row {
  width: 110%;
}

.container .row {
  display: flex;
  margin-top: 10px;

}

.row {
  width: 100%;
}


/*ESTILIZAÇAO DO MENU SUPERIOR*/
.container a {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MenuSUPERIOR {
  background-color: #5C7243;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

.MenuSUPERIOR button {
  background-color: #5C7243;
  border: none;
}

.MenuSUPERIOR button:hover {
  background-color: #97b871;
  transition: 1.0s;
}

.container span {
  border: none;
  color: white;
  background-color: #5C7243;
}

.MenuSUPERIOR .dropdown-menu {
  width: 20%;
  position: absolute;
  background-color: #5C7243;
}

.MenuSUPERIOR .navbar {
  width: 40%;
  background-color: #5C7243;
  text-align: center;
}

.dropdown-menu {
  width: 13%;
  word-wrap: break-word;
}

.dropdown-menu,
.dropdown-item:hover {
  background-color: #5C7243;
}

.mt-3 {
  border-bottom: 1px solid #dee2e6;
}

.mt-3 a:hover,
.mt-3:hover,
.dropdown-item a:hover {
  color: #97b871;

}

/*ESTILIZAÇÃO DO CARD*/

.containerCard {
  background-color: #CDE1B7;
  color: #466F17;
  border-radius: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
}

.containerCard input {
  background-color: #E6E6E6;
  border: none;
  border-radius: 10px;
  word-wrap: break-word;
}

.container a {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 30%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 20%;
}

table td:nth-child(4),
table th:nth-child(4) {
  width: 5%;
}

.itens-cadastrados {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.green-icon {
  color: #5C7243;
}

td input {
  height: 29px;
}

/*paginação*/
.iconesPagination {
  font-size: 20px;
}



/*filtro de categoria*/

.botao-mais-descricao {
  border: none;
  background-color: white;
}

/*ESTILIZAÇÃO DO RODAPÉ*/
.footer {
  bottom: 0;
}

#rodape {
  background-color: #5C7243;
}

#botao-atendimento {
  color: #FFFFFF;
  background-color: #A3C977;
  font-size: smaller;
  border-radius: 20px;
  border: none;
}

#frase-impacto {
  color: #FFFFFF;
  border: none;
  font-size: large;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: #97b871;
}

.btn-secondary:hover {
  background-color: #97b871;
}

#filtro-mes {
  width: 110px;
  background-color: #CDE1B7;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
}

#filtro-setor {
  background-color: #CDE1B7;
  width: 150px;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
}

/*FLEX PARA MOBILE*/
@media only screen and (max-width: 460px) {
  .col-9 {
    width: 100%;
  }

  .table {
    width: 100%;
  }

  .containerCard {
    width: 100%;
    margin-left: 25px;
  }

  .MenuSUPERIOR {
    color: white;
  }
  #td-produto {
    width: 30%;    
  }
  #td-data {
    width: 20px;
  }
  #td-valor {
    width: 40%;
  }
  #input-produto {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #input-data {
    font-size: 12px;
  }
  #input-valor {
    font-size: 12px;
  }

  #frase-impacto {
    font-size: small;
    margin-left: 30px;
    padding-bottom: -20px;
  }

  #rodape {
    margin-top: 350px;
  }

  #rodape button {
    font-size: smaller;
  }
}
#input-valor-total {
    width: 120px;
}
#row-setores-input-pagination {
  height: 100%;
  width: 100%;
  background-color: #CDE1B7;
}
#dropdown-desc {
  background-color: #CDE1B7;
  padding: 8px 8px 8px 8px;
}
#borda-itens-cadastrados{
background-color: #97b871;
padding: 5px 5px 0px 5px;


}





