/*ESTILIZAÇÃO DO MENU LATERAL*/
.MenuLATERAL {
    background-color: #5C7243;
    width: 80%;
    height: 100%;
    color: white;
    padding: 20px 0 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.mt-3 {
    border-bottom: 1px solid white;
    padding: 5px 0 5px 10px;
}

#menuLateral ul {
    background-color: #5C7243;
}

.MenuLATERAL .mt-3:hover,
.MenuLATERAL a:hover {
    color: #97b871;
}

#menuLateral li:hover {
    background-color: #5C7243;
    color: #97b871;
}

/*ESTILIZAÇÃO DO MENU COM FLEX*/
.MenuSUPERIOR {
    background-color: #5C7243;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: large;
    background-color: #5C7243;
    color: white;
}

.MenuSUPERIOR ul {
    padding-left: 20px;
}

.MenuSUPERIOR button {
    border: none;
}

.MenuSUPERIOR button:hover {
    background-color: #97b871;
}

#dropdownMenuButton {
    background-color: #97b871;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #97b871;
}

a {
    text-decoration: none;
    color: white;
}

#menuSUPERIOR ul {
    background-color: #5C7243;
}

.MenuSUPERIOR .mt-2 {
    color: white;
}

#menuSUPERIOR li:hover {
    background-color: #5C7243;
    color: #97b871;
}

.MenuSUPERIOR a:hover {
    color: #97b871;
}

/*ESTILIZAÇÃO DO CARD*/
.containerCard {
    background-color: #CDE1B7;
    color: #466F17;
    width: 650px;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: -700px;
    margin-bottom: 30px;
    margin-top: -850px;
}

.containerCard h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.containerCard label {
    display: flex;
    flex-direction: column;
}

.containerCard input {
    background-color: #E6E6E6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.containerCard .botoesCadastro {
    display: flex;
    justify-content: center;
}

.botoesCadastro {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.cancelar,
.cadastrar {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    margin: auto;
}

.cancelar {
    background-color: #A3C977;
}

.cadastrar {
    background-color: #5C7243;
}

.containerCard .botoesCadastro .cadastrar:hover {
    color: #CDE1B7;
}

.containerCard .botoesCadastro .cancelar:hover {
    color: #5C7243;
}

.containerCard input#descricao {
    height: 150px;
}

form input {
    width: 100%;
}

.container a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.input-invalido {
    border: 2px solid rgb(230, 35, 35) !important;
    /* Use !important para garantir que a borda vermelha seja aplicada */
}

.input-valido {
    border: 2px solid rgb(23, 177, 23) !important;
    /* Use !important para garantir que a borda verde seja aplicada */
}


/*ESTILIZAÇÃO DO RODPÉ*/
#rodape {
    background-color: #5C7243;
}

#botao-atendimento {
    color: #FFFFFF;
    background-color: #A3C977;
    font-size: smaller;
    border-radius: 20px;
    border: none;
    padding-right: 10PX;
}

#frase-impacto {
    color: #FFFFFF;
    border: none;
}

.row {
    width: 100%;
}

.footer {
    bottom: 0;
}

@media only screen and (max-width: 800px) {
    
    .mt-3 {
        font-size: small;
        border-bottom: 0px;
    }

    .MenuLATERAL {
        min-width: 90px;
    }
}

@media only screen and (max-width: 764px){
    .containerCard {
        width: 90%; /* Alteração aqui para ocupar 90% da largura da tela */
        margin: 0 auto; /* Centralizar o card horizontalmente */
        margin-bottom: 30px;
        margin-top: -700px; /* Isso parece um valor muito alto, ajuste conforme necessário */
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 460px) {

    .col-9 {
        width: 100%;
        justify-content: center;
    }

    .containerCard {
        width: 50%;
        padding: 20px 20px 0px 20px;
        margin-right: -50px;
        margin-bottom: 30px;
        margin-top: -700px;
        padding-bottom: 50px;
    }

    .botoesCadastro {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .MenuSUPERIOR {
        color: white;
    }
}